<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css" media="screen">
      .content {
        text-align: center;
        min-width: 310pt;
        padding: 50px;
        width: 80%;
        margin: 50pt auto;
        background-color: white;
        font-family: "HelveticaNeue", Arial, serif;
        font-weight: "normal",
        font-style: "normal",
        letter-spacing: -0.53,
      }

      .action {
        font-size: 28pt;
      }

      .instruction {
        font-size: 18pt;
      }

      .token {
        color: #094C73;
        font-size: 35pt;
        margin: 40pt auto;
        font-family: "HelveticaNeue-Bold", Arial, serif;
      }

      .instruction-3 {
        font-size: 18pt;
        margin-bottom: 0px;
      }

      .app-name {
        font-size: 24pt;
        line-height: 27pt;
        margin: 10pt auto;
      }

    </style>
  </head>
  <body>
    <div class='content'>
      <h1 class='action'><%= I18n.t('devise.mailer.reset_password_instructions.action') %></h1>
      <p class='instruction'><%= I18n.t('devise.mailer.reset_password_instructions.instruction') %>:</p>
      <p class='token'><%= @token %></b>
      <p class='instruction-3'><%= I18n.t('devise.mailer.reset_password_instructions.instruction_3') %></p>
      <div class='app-name'><%= ENV.fetch('SITE_TITLE') %></div>
    </div>
  </body>
</html>
